Exp-6/library.dtd

<!--
  ============================================================
  DTD: Document Type Definition for Library Management System
  File: library.dtd
  ============================================================
  DTD defines the structure, elements, attributes, and
  allowed values using a simpler, older syntax.
  ============================================================
-->

<!-- ==================== ROOT ELEMENT ==================== -->
<!ELEMENT library (catalog, members, loans)>
<!ATTLIST library
  id          ID          #REQUIRED
  name        CDATA       #REQUIRED
  established CDATA       #REQUIRED
>

<!-- ==================== CATALOG ==================== -->
<!ELEMENT catalog (book+)>

<!ELEMENT book (title, author, publisher, year, isbn, pages, price)>
<!ATTLIST book
  id          ID                              #REQUIRED
  available   (yes | no)                      #REQUIRED
  genre       (fiction | science | technology | history | biography | other) #REQUIRED
>

<!ELEMENT title      (#PCDATA)>
<!ELEMENT publisher  (#PCDATA)>
<!ELEMENT year       (#PCDATA)>
<!ELEMENT isbn       (#PCDATA)>
<!ELEMENT pages      (#PCDATA)>

<!ELEMENT price (#PCDATA)>
<!ATTLIST price
  currency    CDATA       #REQUIRED
>

<!-- ==================== AUTHOR ==================== -->
<!ELEMENT author (firstName, lastName)>

<!-- ==================== MEMBERS ==================== -->
<!ELEMENT members (member+)>

<!ELEMENT member (name, email, phone, address, joinDate, expiryDate)>
<!ATTLIST member
  id             ID                              #REQUIRED
  membershipType (premium | standard | student)  #REQUIRED
  status         (active | inactive | suspended) #REQUIRED
>

<!ELEMENT name (firstName, lastName)>
<!ELEMENT email     (#PCDATA)>
<!ELEMENT phone     (#PCDATA)>
<!ELEMENT joinDate  (#PCDATA)>
<!ELEMENT expiryDate (#PCDATA)>

<!-- ==================== ADDRESS ==================== -->
<!ELEMENT address (street, city, state, zipCode, country)>
<!ELEMENT street  (#PCDATA)>
<!ELEMENT city    (#PCDATA)>
<!ELEMENT state   (#PCDATA)>
<!ELEMENT zipCode (#PCDATA)>
<!ELEMENT country (#PCDATA)>

<!-- Shared name elements -->
<!ELEMENT firstName (#PCDATA)>
<!ELEMENT lastName  (#PCDATA)>

<!-- ==================== LOANS ==================== -->
<!ELEMENT loans (loan+)>

<!ELEMENT loan (memberId, bookId, issueDate, dueDate, returnDate?, fine)>
<!ATTLIST loan
  id      ID                              #REQUIRED
  status  (active | returned | overdue)   #REQUIRED
>

<!ELEMENT memberId    (#PCDATA)>
<!ELEMENT bookId      (#PCDATA)>
<!ELEMENT issueDate   (#PCDATA)>
<!ELEMENT dueDate     (#PCDATA)>
<!ELEMENT returnDate (#PCDATA)>
<!ELEMENT fine (#PCDATA)>
<!ATTLIST fine
  currency  CDATA   #REQUIRED
>
